body {
  background: #e6f1f7;
}
/* New York */
h4 {
  color: #2b4353;
  display: inline-block;
  font-size: 60px;
  padding: 5px;
}
/* Date, time, and details */
h5 {
  color: #2b4353;
  font-size: 18px;
  line-height: 28px;
  padding: 0px 30px 50px;
  list-style: none;
}

/* 30 - Big temp*/
h6 {
  bottom: 90px;
  color: #e8630a;
  display: block;
  font-size: 70px;
  position: absolute;
  right: 335px;
  text-align: right;
}

img.main-image {
  bottom: 90px;
  position: absolute;
  right: 420px;
  text-align: right;
  margin: 0 auto;
  display: block;
  font-size: 80px;
}

footer {
  padding: 15px;
  text-align: center;
}

li {
  list-style: none;
}
/* Current Location button */
.btn-light-current {
  display: inline-block;
  margin: 0 33px;
  position: relative;
  background-color: #2b4353;
  color: white;
  padding: 5px 10px;
  border: transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 220ms ease-in-out;
}
/* Search button */
.btn-light-search {
  background-color: #2b4353;
  border: transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
  margin-right: 0;
  padding: 9px 13px;
  position: relative;
  transition: all 220ms ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.88;
}
/* Days of the week cards -temp */
.card {
  text-align: center;
  padding: 5px 10px;
  margin: 18px;
  font-size: 20px;
  color: #2b4353;
}
/* Days of the week name -day */
.card-title {
  color: #e8630a;
  font-size: 21px;
  padding-bottom: 4px;
}
/* Everything in body*/
.container {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-style: hidden;
  border-radius: 30px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  height: 180%;
  max-width: 93%;
  padding-top: 25px;
  padding-bottom: 220px;
}
/* Bar where you search city */
.form-group {
  display: block;
  margin-left: 0;
  position: relative;
  top: 6px;
}

.today-weather {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 70px;
  position: relative;
  top: 40px;
  bottom: 20px;
  left: 100px;
}

/* Celsius & Fahrenheit next to temp */
.units {
  bottom: 120px;
  position: absolute;
  right: 255px;
  font-size: 25px;
  color: #e8630a;
  text-decoration: none;
}

.active {
  color: #e8630a;
  cursor: default;
}

.weather-forecast {
  color: #2b4353;
}

a:link {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}
